.screen-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.score-wrapper {
  width: 100%;
  text-align: center;
  margin: 5rem 0;
}
.score {
  font-size: 6rem;
  font-weight: 400;
}
.animate-box {
  animation: boxeffect 1s linear;
}
.buttons-wrapper {
  top: 60%;
  transform: translateY(-50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 30%;
}
button {
  background: crimson;
  color: white;
  height: 1.8em;
  margin: 0.6rem 0;
  font-weight: 600;
  font-family: "Bebas Neue";
  border: 1px solid crimson;
  border-radius: 5px;
  font-size: 2.1em;
}
.nav-wrapper {
  position: absolute;
  bottom: 0;
  height: 50px;
  background: crimson;
  width: 100%;
  display: flex;
  justify-content: center;
}
.tab-block {
  text-align: center;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  border-right: 1px solid rgb(102, 6, 25);
}
.tab-logo-push {
  height: 90%;
}
.tab-logo {
  height: 30px;
}
.day {
  font-size: 2.5rem;
  margin: 0.5em 0;
  text-align: center;
  position: absolute;
  font-weight: 600;
}
.home-component {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@keyframes boxeffect {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
