<div class="screen-wrapper">
  <div class="score-wrapper">
    <h3 class="score">{{totalScore}}</h3>
  </div>
  <div class="buttons-wrapper">
    <button (click)="addScore(50)">+50</button>
    <button (click)="addScore(40)">+40</button>
    <button (click)="addScore(30)">+30</button>
  </div>
  <div class="nav-wrapper">
    <div class="tab-block">
      <img class="tab-logo-push" src="/assets/push.png" alt="" />
    </div>
    <div class="tab-block">
      <img class="tab-logo" src="/assets/statistics.png" alt="" />
    </div>
  </div>
</div>
